<!--footer -->

<div>
<footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
             
              <a class="navbar-brand" href="/" style="font-size: 2.2rem;letter-spacing: 0.16rem;color:#004A7D"><i class="fa fa-heartbeat" style="color: #AE1438;"></i> <span style="color:#AE1438">i</span>consultmydoctor</a>            

            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>For Patient</h6>
              <ul class="footer-links" style="font-weight: 250;">
                <li><a href="#">Our Service</a></li>
                <li><a href="#">What We Treat</a></li>
                <li><a href="#">Prescriptions</a></li>
                <li><a href="#">Insurance</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Patient Support</a></li>
             

              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links" style="font-weight: 250;">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
               
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12" style="font-weight: 150;">
              <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
           <a href="/">iconsultmydoctor</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook"  href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a class="twitter"   href="#"><i class="fa fa-twitter"></i></a></li> 
                <li><a class="linkedin"  href="#"><i class="fa fa-linkedin"></i></a></li> 
                <li><a class="youtube"   href="#"><i class="fa fa-youtube"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
 
</div>

</body>