  <!-- toggle for mobile size -->
  <script type="text/javascript">
    $(document).ready(function(){
      $('.nav_btn').click(function(){
        $('.mobile_nav_items').toggleClass('active');
      });
    });
  </script>
  <!-- for dashboard toggle -->
  <script>
    $(document).ready(function(){
      $(".meeting-content").hide();
      $(".prescription-content").hide();
      $(".payment-content").hide();
      $(".message-content").hide();
    });
  </script>

  <script>
    $(document).ready(function(){
      $(".dashboard").click(function(){
        $(".dashboard-content").show();
        $(".meeting-content").hide();
        $(".prescription-content").hide();
        $(".payment-content").hide();
        $(".message-content").hide();
      });
      $(".meeting").click(function(){
        $(".dashboard-content").hide();
        $(".meeting-content").show();
        $(".prescription-content").hide();
        $(".payment-content").hide();
        $(".message-content").hide();
      });
      $(".prescription").click(function(){
        $(".dashboard-content").hide();
        $(".meeting-content").hide();
        $(".prescription-content").show();
        $(".payment-content").hide();
        $(".message-content").hide();
      });
      $(".payment").click(function(){
        $(".dashboard-content").hide();
        $(".meeting-content").hide();
        $(".prescription-content").hide();
        $(".payment-content").show();
        $(".message-content").hide();
      });
      $(".message").click(function(){
        $(".dashboard-content").hide();
        $(".meeting-content").hide();
        $(".prescription-content").hide();
        $(".payment-content").hide();
        $(".message-content").show();
      });
    });
  </script>


  <!-- for date time picker -->
  <script>
    $(".datetime").datetimepicker({
		minDate: 0,
    allowTimes: intervals('04:00:00 PM', '06:00:00 PM', 15),
    timepicker:false,
    format:'d-m-Y'
	});


	function intervals(startString, endString, duration) {
	    var start = moment(startString, 'hh:mm a');
	    var end = moment(endString, 'hh:mm a');

	    // round starting minutes up to nearest 15 (12 --> 15, 17 --> 30)
	    // note that 59 will round up to 60, and moment.js handles that correctly
	    start.minutes(Math.ceil(start.minutes() / 15) * 15);

	    var result = [];

	    var current = moment(start);

	    while (current <= end) {
	        result.push(current.format('HH:mm'));
	        current.add(duration, 'minutes');
	    }

	    return result;
	}

  </script>
  
</body>
</html>