  <!-- toggle for mobile size -->
  <script type="text/javascript">
    $(document).ready(function(){
      $('.nav_btn').click(function(){
        $('.mobile_nav_items').toggleClass('active');
      });
    });
  </script>
  <!-- for dashboard toggle -->
  <script>
    $(document).ready(function(){
      $(".meeting-content").hide();
      $(".prescription-content").hide();
      $(".payment-content").hide();
      $(".message-content").hide();
    });
  </script>

  <script>
    $(document).ready(function(){
      $(".dashboard").click(function(){
        $(".dashboard-content").show();
        $(".meeting-content").hide();
        $(".prescription-content").hide();
        $(".payment-content").hide();
        $(".message-content").hide();
      });
      $(".meeting").click(function(){
        $(".dashboard-content").hide();
        $(".meeting-content").show();
        $(".prescription-content").hide();
        $(".payment-content").hide();
        $(".message-content").hide();
      });
      $(".prescription").click(function(){
        $(".dashboard-content").hide();
        $(".meeting-content").hide();
        $(".prescription-content").show();
        $(".payment-content").hide();
        $(".message-content").hide();
      });
      $(".payment").click(function(){
        $(".dashboard-content").hide();
        $(".meeting-content").hide();
        $(".prescription-content").hide();
        $(".payment-content").show();
        $(".message-content").hide();
      });
      $(".message").click(function(){
        $(".dashboard-content").hide();
        $(".meeting-content").hide();
        $(".prescription-content").hide();
        $(".payment-content").hide();
        $(".message-content").show();
      });
    });
  </script>


  <!-- for date time picker -->
  <script>
    $(".datetime").datetimepicker({
		minDate: 0,
    timepicker:false,
    format:'d-m-Y'
	});


  </script>
  
</body>
</html>