<%- include("../partials/header") %>

    <div class="doctor_landing_img">
            <div class="doctor-heading">
                <h3>Join the Telehealth Movement</h3>
            </div>
            <div class="doctor-content">
                <p> Connect with new and existing patients for live video consults wherever you are, wherever they are,</p>
                <p> on your phone or computer. It’s easier, faster, more personal access to healthcare.</p>
                <a href="/doctor/signup" class="btn btn-lg btn-success">Sign Up Now!</a>
                <a href="/doctor/login" class="btn btn-lg btn-success"> LOG IN </a>
            </div>
            
        <!-- <img src="/imgs/Doctor 7.jpg" alt="Doctor Image here"> -->
    </div>

<%- include("../partials/footer") %>