<%- include("../partials/header") %>

<!-- Patient Signup form -->

<div class="container" >
    <div class="container ">
       
        <div class="row justify-content-center"  >
                
                        <div class="col-md-8 shadow p-3 mb-5 bg-white rounded" style="margin-top: 100px;">
                            <div class="card">
                                <div class="card-header"><span style="font-size: 1.5em;"><i class="fa fa-heartbeat" style="color:#9e2969;margin-right:10px"></i>Doctor SignUp</span></div>
                                <div class="card-body">
    
                                    <form class="form-horizontal" action="/doctor/signup" method="POST" enctype="multipart/form-data">

                                        <!-- default user type -->
                                        <input type="text" name="userType" value="doctor" hidden>

                                        <!-- First Name -->
                                        <div class="form-group">
                                            <label for="name" class="cols-sm-2 control-label" >First Name</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input type="text" class="form-control" name="firstName" id="name" placeholder="Enter your First Name"/>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Last Name -->
                                        <div class="form-group">
                                            <label for="name" class="cols-sm-2 control-label" >Last Name</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -5px;" type="text" class="form-control" name="lastName" id="lastname" placeholder="Enter your Last Name"/>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- E-mail -->
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label" >E-Mail</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -5px;" type="text" class="form-control" name="username" id="email" placeholder="Enter your Email"/>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Phone Number -->
                                        <!-- <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label" >Phone Number</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -5px;" type="text" class="form-control" name="phoneNumber" id="email" placeholder="Enter your Phone Number"/>
                                                </div>
                                            </div>
                                        </div> -->

                                        <!-- Gender -->
                                        <!-- <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label" >Gender</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <select class="form-control" name="gender" id="">
                                                        <option selected disabled>Gender</option>
                                                        <option value="male">Male</option>
                                                        <option value="female">Female</option>
                                                        <option value="others">Others</option>
                                                    </select>
                                                    
                                                </div>
                                            </div>
                                        </div> -->

                                        <!-- Age -->
                                        <!-- <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label">Age</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -5px;" type="text" class="form-control" name="age" id="email" placeholder="Enter your Age"/>
                                                </div>
                                            </div>
                                        </div> -->

                                        <!-- <div class="form-group">
                                            <label for="profile-picture" class="cols-sm-2 control-label" >Profile Picture</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -5px;" type="file" class="form-control" name="profileImage" id="profile"/>
                                                </div>
                                            </div>
                                        </div> -->

                                        <!-- Start Time -->
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label">Start Time</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -5px;" type="text" class="form-control time" name="startTime" id="start-time" placeholder="Enter your start-time"/>
                                                </div>
                                            </div>
                                        </div>

                                         <!-- End Time -->
                                         <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label">End Time</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -5px;" type="text" class="form-control time" name="endTime" id="end-time" placeholder="Enter your end-time"/>
                                                </div>
                                            </div>
                                        </div>

                                         <!-- Duration -->
                                         <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label">Duration</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -5px;" type="text" class="form-control" name="duration" id="duration" placeholder="Enter your duration"/>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <div class="form-group">
                                            <label for="password" class="cols-sm-2 control-label" >Password</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -8px;" type="password" class="form-control" name="password" id="password" placeholder="Enter your Password"/>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- upload ka option dalna padega ya google drive link -->
                                        <!-- <div class="form-group">
                                            <label for="password" class="cols-sm-2 control-label" >MCI </label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -8px;" type="text" class="form-control" name="mciLicense" id="password" placeholder="Enter your mciLicense google drive link"/>
                                                </div>
                                            </div>
                                        </div> -->
                                       
                                        
                                        
                                        <!-- <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label" >Primary Specialty:</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <select class="form-control" name="specialization" id="">
                                                        <option value="" disabled selected>Selectyour specialization here...</option>
                                                        <option value="Allergists/Immunologists">Allergists/Immunologists</option>
                                                        <option value="Cardiologists">Cardiologists</option>
                                                        <option value="Critical Care Medicine Specialists">Critical Care Medicine Specialists</option>
                                                        <option value="Dermatologists">Dermatologists</option>
                                                        <option value="Endocrinologists">Endocrinologists</option>
                                                        <option value="Family Physicians">Family Physicians</option>
                                                        <option value="Medical Geneticists">Medical Geneticists</option>
                                                        <option value="Nephrologists">Nephrologists</option>
                                                        <option value="Neurologists">Neurologists</option>
                                                        <option value="Gynecologists">Gynecologists</option>
                                                        <option value="Oncologists">Oncologists</option>
                                                        <option value="Ophthalmologists">Ophthalmologists</option>
                                                        <option value="Pediatricians">Pediatricians</option>
                                                        <option value="Physiatrists">Physiatrists</option>
                                                        <option value="Urologists">Urologists</option>
                                                        <option value="audi">other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> -->

                                        <!-- <h2>reference 1</h2>
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label" >First Name</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -5px;" type="text" class="form-control" name="referenceFirstName1" id="email" placeholder="First Name"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label" >Last Name</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -5px;" type="text" class="form-control" name="referenceLastName1" id="email" placeholder="Last Name"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label" >E Mail</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -5px;" type="email" class="form-control" name="referenceEmail1" id="email" placeholder="Email"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label" >Phone Number</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -5px;" type="text" class="form-control" name="referencePhoneNumber1" id="email" placeholder="Phone Number"/>
                                                </div>
                                            </div>
                                        </div>
                                        <h2>reference 2</h2>
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label" >First Name</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -5px;" type="text" class="form-control" name="referenceFirstName2" id="email" placeholder="First Name"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label" >Last Name</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -5px;" type="text" class="form-control" name="referenceLastName2" id="email" placeholder="Last Name"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label" >E Mail</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -5px;" type="email" class="form-control" name="referenceEmail2" id="email" placeholder="Email"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label" >Phone Number</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input style="margin-left: -5px;" type="text" class="form-control" name="referencePhoneNumber2" id="email" placeholder="Phone Number"/>
                                                </div>
                                            </div>
                                        </div> -->


                                        <div class="form-group ">
                                            
                                            <button type="submit" class="btn btn-success btn-lg btn-block login-button" style="border-radius: 0px;background-color: #004A7D;">Register</button>
                                        </div>
                                        <div class="login-register">
                                            <p>Already have an account ? <a href="/doctor/login">Login</a></p>
                                        </div>
                                    </form>
                                </div>
                            
                            </div>
                        </div>
                        </div>
        </div>
    </div>
                   
                    
</div>

    <div style="margin-top:1.5em;">


<script>
    $(".time").datetimepicker({
        datepicker:false,
        step: 15,
        ampm: true, // FOR AM/PM FORMAT
        showSecond: true,
        format : 'h:i:s A'
    });
</script>
      
        

<%- include("../partials/footer") %>