<%- include("partials/header") %>
        <div class="home-page-landing-image">
            <div class="home-page-tagline">
                <h2>iConsultmydoctor</h2>
                <hr>
                <p>Care for everyone, everywhere</p>
            </div>
            <div class="home-page-landing-text">
                <h1>Our doctors are in, 24/7</h1>
                <p>We’ve made telemedicine simple and<br> easy for you. Create your personal room <br> and start practicing telemedicine today.</p>
                <% if(currentUser){ %>
                    <a href="/<%= currentUser.userType %>/profile" class="btn btn-lg" >Continue <i class="fas fa-chevron-right"></i></a>
                <% }else{%>
                    <a href="/patient/login" class="btn btn-lg" >Continue <i class="fas fa-chevron-right"></i></a>
                <% } %>
            </div>
        </div>
        <div class="container" style="margin-bottom: 5%; margin-top: 10%;">
            <div class="home-registration-text">
                <h1>Using iConsultMyDoctor is as easy as one, two, three.</h1>
                <p>Doctors are ready to help you get the care you need,<br> anywhere and anytime in the United States.</p>
            </div>
            <div class="row">
                <div class="col-md-4" style="text-align: center; border-right: 1px solid grey;">
                    <div style="font-size: 2rem;">Step 1</div>
                    <div><i class="far fa-file-alt" style="font-size: 8rem; padding-top: 4%; color: #004A7D;"></i></div>
                    <div><h4 style="padding-top: 7%;">Register now</h4></div>
                    <div><p style="padding-top: 2%;">Setting up your<br> secure account only<br> takes minutes.</p></div>
                </div>
                <div class="col-md-4" style="text-align: center; border-right: 1px solid grey;">
                    <div style="font-size: 2rem;">Step 2</div>
                    <div><i class="far fa-calendar-plus"  style="font-size: 8rem; padding-top: 4%; color: #004A7D;"></i></i></div>
                    <div><h4 style="padding-top: 7%;">Request a visit</h4></div>
                    <div><p style="padding-top: 2%;">You can have a doctor visit right<br> away or schedule an appointment - <br>all by phone, computer, or our app.</p></div>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <div style="font-size: 2rem;">Step 3</div>
                    <div><i class="fas fa-user-md"   style="font-size: 8rem; padding-top: 4%; color: #004A7D;"></i></div>
                    <div><h4 style="padding-top: 7%;">Feel better</h4></div>
                    <div><p style="padding-top: 2%;">Get treated by one of our<br> doctors who can prescribe<br> medication if necessary.</p></div>
                </div>
            </div>
            
        </div>
        <div class=" price-plans">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ">
                        <h1>Affordable and transparent pricing</h1>
                        <p class="price-plans-text" style="font-size: 2vm;">Our services are available nationwide, with or without insurance. It’s free to sign up and your visit price is always shown upfront– with no surprise bills later. We work with many major insurance plans and employers to offer even easier access. Check your plan for coverage.</p>
                    </div>
                    <div class="col-md-6">
                        <h3 style="text-align: center;">Our Plans</h3>
                        <div class="container" style="background-color: white; height: 100%;">
                            <p class="plan-heading">We're making access to quality healthcare affordable</p>
                            <div class="row">
                                <div class="col-xs-4 plan-item">
                                    <p>Medical Visits</p>
                                    <p>$75</p>
                                    <p>Per Visit</p>  
                                </div>
                                <div class="col-xs-4 plan-item">
                                    <p>Medical Visits</p>
                                    <p>$129</p>
                                    <p>Monthly Plan</p>  
                                </div>
                                <div class="col-xs-4 plan-item">
                                    <p>Medical Visits</p>
                                    <p>$299</p>
                                    <p>Yearly Plan</p>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
   
    
    
<%- include("partials/footer") %>