body, html {
	height: 100%;
}


/* navbar background color */
.navbar{
	background-color: #008dc9;
	min-height: 75px;
	padding-left: 0;
    /* height: 100px; */
}

/* items on navbar */
.navbar-dark .navbar-nav .active > .nav-link{
	color: white;
	text-transform: uppercase;
	margin-top: 0;
	font: normal 16px 'Open Sans', sans-serif;
}

.navbar-dark .navbar-nav .active > .nav-link:hover{
	text-decoration: underline;
}


@media (min-width: 992px){
	.container {
		max-width: 992px;
	}
}

@media (min-width: 1200px){
	.container {
		max-width: 100%;
	}
}

.navbar-dark .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}


.navbar .navbar-brand{
    font-family: 'Open Sans';
    font-weight: 600;
}



#content{
	text-align: center;
	padding-top: 10%;
	font-family: Lato;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
}

#content h1{
	font-weight: 700;
	font-size: 2.8em;
}


#content hr{
	width: 300px;
	border-top:1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


/* doctor background img */
.doctor_landing_img{
	background-image: url("/imgs/Doctor 7.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	
	text-align: center;
	
}
.doctor_landing_img .doctor-heading{
	padding-top: 10%;
	margin-bottom: 2%;
}


.doctor_landing_img .doctor-content{
	line-height: 50%;
}

.patient_landing_img{
	background-image: url("/imgs/Doctor 2.jpg");
	background-position: center;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	
	min-height: 34rem;
	
	text-align: center;

}



/* Home Page CSS */
.home-page-landing-image{
	background-image: url("/imgs/home-background.jpg");
	background-position: center;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	height: 95%;
	margin-top: 75px;
}

.home-page-landing-text{
	padding-top: 8%;
	padding-left: 4%;
	color: #000000;
}

.home-page-landing-text p{
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
}

.home-page-landing-text h1{
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 48px;	
}


/* tagline on home page css start*/
.home-page-tagline{
	padding-left: 4%;
	padding-top: 1%;
}
.home-page-tagline h2{
	color:  #008dc9;
	font-family: 'Open Sans';
	font-weight: 700;
	padding-bottom: 0;
	margin-bottom: 5px;
}
.home-page-tagline hr{
	padding: 0;
	margin: 0;
	width: 280px;
	border: 1px solid white;
}
.home-page-tagline p{
	font-family: 'Open Sans';
	font-size: 19px;
	color: white;
	font-weight: 600;
	padding-top: 0;
	margin-top: 0;
}
/* tagline on home page css ends*/

.home-page-landing-text a{
	background: linear-gradient(to bottom, #71df54 0%, #30a039 100%);
	color: white;
	font-family: 'Open Sans';
	font-weight: 400;
	width: 200px;
	border-radius: 5px;
}

.form-button{
	background: linear-gradient(to bottom, #71df54 0%, #30a039 100%);
	border-radius: 3px;

}

.home-page-landing-text a:hover{
	color: white;
}


.home-registration-text h1{
	text-align: center;
	margin-top: 5%;
	color: #008dc9;
	font-family: Montserrat;
	font-size: 2.5vw;
	font-weight: 500;
}

.home-registration-text p{
	text-align: center;
	font-size: 26px;
	font-family: Montserrat;
	padding-bottom: 5%;
	font-size:2vw;
}

.price-plans{
	padding-top: 5%;
	background-color: #F9F9F9;
	padding-bottom: 5%;
}

.price-plans h1{
	font-weight: 700;
	font-family: Montserrat;
}

.price-plans-text{
	font-weight: 500;
	font-family: Montserrat;	
}

.plan-item{
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 1.2rem;
}

.plan-heading{
	padding-top: 5%;
	text-align: center; 
	font-family: Simonetta;
	font-size: 1.5rem;
}



.sidebar {
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	height: 500px;
}

.sidebar-item{
	font-family: Montserrat;
	padding-top: 5%;
	padding-bottom: 5%;
}


/* SIDE BAR */

#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 75vh;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 100%;
  
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.animate__animated.animate__zoomInDown{
	--animate-duration: 1.2s;
  }




/* Top doctors home page CSS start */
.our-team {
	padding: 30px 0 40px;
	margin-bottom: 30px;
	background-color: #f7f5ec;
	text-align: center;
	overflow: hidden;
	position: relative;
	height: 90%;
}

.our-team .name{
	font-size: 18px;
}

.our-team p{
	padding: 0% 5%;
	padding-bottom: 7%;
}

.our-team .picture {
	display: inline-block;
	height: 130px;
	width: 130px;
	margin-bottom: 50px;
	z-index: 1;
	position: relative;
}

.our-team .picture::before {
	content: "";
	width: 100%;
	height: 0;
	border-radius: 50%;
	background-color: #008dc9;
	position: absolute;
	bottom: 135%;
	right: 0;
	left: 0;
	opacity: 0.9;
	transform: scale(3);
	transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
	height: 100%;
}

.our-team .picture::after {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #008dc9;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.our-team .picture img {
	width: 100%;
	height: auto;
	border-radius: 50%;
	transform: scale(1);
	transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
	box-shadow: 0 0 0 14px #f7f5ec;
	transform: scale(0.7);
}

.our-team .title {
	display: block;
	font-size: 15px;
	color: #4e5052;
	text-transform: capitalize;
}

.our-team .social {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #008dc9;
	position: absolute;
	bottom: -100px;
	left: 0;
	transition: all 0.5s ease 0s;
}

.our-team:hover .social {
	bottom: 0;
}

.our-team .social li {
	display: inline-block;
}

.our-team .social li a {
	display: block;
	padding: 10px;
	font-size: 17px;
	color: white;
	transition: all 0.3s ease 0s;
	text-decoration: none;
}

.our-team .social li a:hover {
	color: #008dc9;
	background-color: #f7f5ec;
	border: 1px solid #008dc9;
}

.doctor-cards{
	width: 90%;
	margin-top: 7%;
}

.doctor-cards .tag-line{
	text-align: center;
	font-family: "Open Sans";
	margin: 2% 0;
	margin-bottom: 3%;
}

/* Top doctors home page CSS ends */