/* navbar background color */
.navbar{
	background-color: rgba(245, 245, 245, 0.5);
	min-height: 100px;
    /* height: 100px; */
}


.navbar-brand{
	color: rgba(0, 0, 0);
    font-family: Simonetta;
    font-weight: 900;
    font-size: large;
}

.navbar .navbar-brand{

    font-family: Simonetta;
    font-weight: 900;
	font-size: large;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0);
}

body, html {
	height: 100%;
}

#content{
	text-align: center;
	padding-top: 10%;
	font-family: Lato;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
}

#content h1{
	font-weight: 700;
	font-size: 2.8em;
}


#content hr{
	width: 300px;
	border-top:1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


/* doctor background img */
.doctor_landing_img{
	background-image: url("/imgs/Doctor 7.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	
	text-align: center;
	
}
.doctor_landing_img .doctor-heading{
	padding-top: 10%;
	margin-bottom: 2%;
}


.doctor_landing_img .doctor-content{
	line-height: 50%;
}

.patient_landing_img{
	background-image: url("/imgs/Doctor 2.jpg");
	background-position: center;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	
	min-height: 34rem;
	
	text-align: center;

}



/* Home Page CSS */
.home-page-landing-image{
	background-image: url("/imgs/Doctor 6.jpg");
	background-position: center;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	height: 80%;
}

.home-page-landing-text{
	padding-top: 12%;
	padding-left: 5%;
	
	color: #000000;
	
}

.home-page-landing-text p{
	font-family: Raleway;
	font-weight: 400;
	line-height: 1.6;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.home-page-landing-text h1{
	font-family: Lora;
	font-weight: 700;
	font-size: 2.8em;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
	
}

.home-page-landing-text a{
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
	
}

.home-registration-text h1{
	text-align: center;
	margin-top: 5%;
	color: #004A7D;
	font-family: Montserrat;
	font-size: 2.5vw;
	font-weight: 500;
}

.home-registration-text p{
	text-align: center;
	font-size: 26px;
	font-family: Montserrat;
	padding-bottom: 5%;
	font-size:2vw;
}

.price-plans{
	padding-top: 5%;
	background-color: #F9F9F9;
	padding-bottom: 5%;
}

.price-plans h1{
	font-weight: 700;
	font-family: Montserrat;
}

.price-plans-text{
	font-weight: 500;
	font-family: Montserrat;	
}

.plan-item{
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 1.2rem;
}

.plan-heading{
	padding-top: 5%;
	text-align: center; 
	font-family: Simonetta;
	font-size: 1.5rem;
}



.sidebar {
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	height: 500px;
}

.sidebar-item{
	font-family: Montserrat;
	padding-top: 5%;
	padding-bottom: 5%;
}


/* SIDE BAR */

#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 75vh;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 100%;
  
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.animate__animated.animate__zoomInDown{
	--animate-duration: 1.2s;
  }