<%- include("../partials/header") %>

<section class="patient-home">
    <div class="container">

        <div class="row" style="text-align: center;">
            <div class="col-lg-3 col-md-6">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header">URGENT CARE</div>
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <p><a href="#" style="color:red"><i class="far fa-arrow-alt-circle-right"></i></a></p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card text-white bg-info mb-3">
                    <div class="card-header" style="font-size: 1.1rem;">BEHAVIORAL HEALTH</div>
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <p><i class="far fa-arrow-alt-circle-right"></i></a></p>

                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card bg-light mb-3">
                    <div class="card-header">SPECIALTY CARE</div>
                    <div class="card-body">
                     
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <p><a href="#" style="color:#777E8B"><i class="far fa-arrow-alt-circle-right"></i></a></p>

                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">HEALTHY LIVING</div>
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <p><a href="#" style="color:black"><i class="far fa-arrow-alt-circle-right"></i></a></p>

                    </div>
                  </div>
            </div>

        </div>
     
    </div>

</section>
    
    


   
<%- include("../partials/footer") %>