<%- include("../partials/header") %>

    

    <div class="patient_landing_img">
        <div class="container">
            <div>
                <h1 class="pull-right" style="margin-top: 4rem;font-weight: 300;margin-left: -2rem;">Online Doctor <br>Visits, 24/7</h1>
            </div>
            <div>
                <p class="pull-right lead" style="margin-top: 12rem;margin-right: -13rem;">See a doctor or therapist <br>from home, using your phone,<br> tablet or computer. If you’re <br>having a medical emergency, <br>call 911.<br>
                <a href="/patient/signup" class="btn btn-info btn-large" style="margin: 15px;">Continue &gt;</a></p>
            </div>
        </div>
    </div>
    

<%- include("../partials/footer") %>