<%- include("../partials/loggedin_header") %>






  <div class="content">
    <div class="card">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vero, ab, corrupti sapiente in recusandae unde autem eum veniam hic cumque modi, quis corporis. Ut aliquid nostrum recusandae dolorum enim.</p>
    </div>
    <div class="card">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vero, ab, corrupti sapiente in recusandae unde autem eum veniam hic cumque modi, quis corporis. Ut aliquid nostrum recusandae dolorum enim.</p>
    </div>
    <div class="card">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vero, ab, corrupti sapiente in recusandae unde autem eum veniam hic cumque modi, quis corporis. Ut aliquid nostrum recusandae dolorum enim.</p>
    </div>
  </div>






<%- include("../partials/loggedin_footer") %>
