<%- include("../partials/loggedin_header") %>





<section class="dashboard-content content">
  <div>
    <div class="card mb-5">
      <a class="btn btn-lg btn-primary" href="/doctor/viewall"> Book An Appointment</a>
    </div>
    <div class="card mb-5">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vero, ab, corrupti sapiente in recusandae unde autem eum veniam hic cumque modi, quis corporis. Ut aliquid nostrum recusandae dolorum enim.</p>
    </div>
    <div class="card mb-5">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vero, ab, corrupti sapiente in recusandae unde autem eum veniam hic cumque modi, quis corporis. Ut aliquid nostrum recusandae dolorum enim.</p>
    </div>
  </div>
</section>


<section class="meeting-content content">
  <div>
    <div class="card mb-5">
      <a class="btn btn-lg btn-primary" href="/doctor/viewall"> viewall meetings</a>
    </div>
    <div class="card mb-5">
      <p>ALL Meeting go here</p>
    </div>
  </div>
</section>


<section class="prescription-content content">
  <div>
    <div class="card mb-5">
      <a class="btn btn-lg btn-primary" href="/doctor/viewall"> viewall Prescriptions</a>
    </div>
    <div class="card mb-5">
      <p>Prescription content is here</p>
    </div>
  </div>
</section>


<section class="payment-content content">
  <div>
    <div class="card mb-5">
      <a class="btn btn-lg btn-primary" href="/doctor/viewall"> viewall Payments</a>
    </div>
    <div class="card mb-5">
      <p>payment details here</p>
    </div>
  </div>
</section>


<section class="message-content content">
  <div>
    <div class="card mb-5">
      <a class="btn btn-lg btn-primary" href="/doctor/viewall"> view all messages</a>
    </div>
    <div class="card mb-5">
      <p>All Messages here</p>
    </div>
  </div>
</section>







<%- include("../partials/loggedin_footer") %>
